<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERPRETADOR DE SEÑAS</title>
    <link rel="icon"href="favicon.png">
    <!--para encontrar un archivo plano en ejs 
        se tiene que poner la ruta si entarar en la carpeta public
    -->
    <link rel="stylesheet" href="/stylesheets/DISEÑO.css">
    
</head>

<body>
    <center>
        <h1>
            BIENVENIDOS AL INTERPRETADOR DE SEÑAS
        </h1>
    </center>
    <center>
        <img src="/images/logo.png" class="img2">
        <h4 class="lol">Añade una imagen y descubre su significado</h4>
        <img src="/images/descarga.jpg" alt="" class="img1">
    </center>
    <div class="contenedor">
        <div class="carta1">
            <details open="true">
            
                <summary> 
                    INSTRUCCIONES:
                </summary>
                
                <ul>
                    <li>
                        <strong>1</strong>
                        <p>
                        En el boton ingresar sube la imagen que deseas interpretar.
                        </p>
                    </li>
    
                    <li>
                        <strong>2</strong>
                        <p>
                            Recuerda que solo se puede subir una imagen.
                        </p>
                    </li>
    
                    <li>
                        <strong>3</strong>
                        <p>
                            En el boton de ver resultado se mostrara la respuestra.
                        </p>
                    </li>
                </ul>
            </details>
            </div>
        <div class="carta">
          <center>
          <div class="contenedor">
              <form action="/" method="POST" enctype="multipart/form-data">
                
                <img id="previsual" class="lole">
                
                <input type="file" placeholder="SUBE LA IMAGEN" id="input" class = "le" accept=".jpg, .png">
                <button type="submit" class = "le">
                    Enviar
                </button>
              </form>
            
            <button>
              Ver resultado
            </button>
          </center>
          </div>
        </div>
      </div>
    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
          function readURL(input) {
            if (input.files && input.files[0]) { //Revisamos que el input tenga contenido
              var reader = new FileReader(); //Leemos el contenido
              
              reader.onload = function(e) { //Al cargar el contenido lo pasamos como atributo de la imagen de arriba
                $('#previsual').attr('src', e.target.result);
              }
              
              reader.readAsDataURL(input.files[0]);
            }
          }

          $("#input").change(function() { //Cuando el input cambie (se cargue un nuevo archivo) se va a ejecutar de nuevo el cambio de imagen y se verá reflejado.
            readURL(this);
});
    </script>
</body>
</html>